@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}
.navbar {
  display: flex;

  width: 100%;
  color: #050505;
  display: flex-wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

.logo {
  font-size: medium;
}
ul {
  flex: 1;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  font-size: small;
}

ul li {
  cursor: pointer;
  display: inline-block;

  margin: 10px 20px;
}

.container_2 {
  height: 80vh;
  background: white;
}
.greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.greet_title {
  text-align: center;
  font-size: 3rem;
}

.greet_subtitle {
  font-size: 1.5rem;
}

.download-app {
  background-color: #050505;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.showbox {
  display: flex;
  width: calc(100% - 200px);
  height: 500px;
  background-color: #050505;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
